{% set cis = {
    '1_1_1-5-fsmod': { 'exception': [] },
    '1_1_15-17-shm': { 'exception': [] },
    '1_1_18-set_sticky_bit': { 'exception': [] },
    '1_1_19-autofs': { 'exception': [] },
    '1_4_2-singleuser_login': { 'exception': [] },
    '1_5_1-core_dumps': { 'exception': [] },
    '1_5_2-aslr': { 'exception': [] },
    '1_5_3-prelink': { 'exception': [] },
    '1_7_1_1-6-banners': { 'exception': [] },
    '2_1_2-xwindows': { 'exception': [] },
    '2_1_3-avahi': { 'exception': [] },
    '2_1_4-cups': { 'exception': [] },
    '2_1_6-ldap': { 'exception': [] },
    '2_1_7-nfs': { 'exception': [] },
    '2_1_8-bind': { 'exception': [] },
    '2_1_9-vsftpd': { 'exception': [] },
    '2_1_11-dovecot': { 'exception': [] },
    '2_1_13-squid': { 'exception': [] },
    '2_1_14-net_snmp': { 'exception': [] },
    '2_1_16-nis': { 'exception': [] },
    '2_1-17-21-legacy_services': { 'exception': [] },
    '3_2_5-ignore_broadcast': { 'exception': [] },
    '3_2_6-ignore_bogus_icmp': { 'exception': [] },
    '3_2_7-enable_rp_filter': { 'exception': [] },
    '3_2_8-enable_syn_cookie': { 'exception': [] },
    '3_4_1-4-uncommon_net_proto': { 'exception': [] },
    '4_1_1-18-audit': { 'exception': [] },
    '4_2_1_1-3-rsyslog': { 'exception': [] },
    '4_2_4-log_perms': { 'exception': [] },
    '4_3-logrotate': { 'exception': [] },
    '5_1_1-8-cron': { 'exception': [] },
    '5_3_4-pass_alg': { 'exception': [] },
    '5_4_2-system_accounts': { 'exception': [] },
    '5_4_3-root_group': { 'exception': [] },
    '5_6-restrict_su' : { 'exception': [] },
    '6_1_2-9-system_file_perms': { 'exception': [] },
    '6_1_10-world_writeable': { 'exception': [] },
    '6_1_11-unowned_ungrouped_files': { 'exception': [] },
    '6_2_10-dotfile_perms': { 'exception': [] },
    '6_2_11-forward': { 'exception': [] },
    '6_2_12-netrc': { 'exception': [] },
    '6_2_14-rhosts': { 'exception': [] },
} %}
